* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    display: flex;
    height: 400px;
    background-color: #ecebeb;
   /* justify-content: space-around; */

}

.child {
    width: 10px;
    height: 10px;
    background-color: red;
    margin: 0 auto;
}
