.main-nav {
    min-height: 100px;
    .main-nav__container {
        @extend %container;
        display:flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        .main-nav__title {
            color: black;
            text-decoration: none;
            font-size: 2rem;
            line-height: 100px;
            &:hover {
                text-decoration: underline;
            }
        }

        .main-nav__hamburger {
            @extend %hamburger;
            border-top: 4px solid $green;
            border-bottom: 4px solid $green;
            &::after {
                background-color: $green;
            }


        }

        .main-nav__list {
            @extend %mobile-menu;
            height: 300px;
            .main-nav__item {
                list-style-type: none;
                .main-nav__link {
                    display: block;
                    color: $green;
                    font-size: 1.3rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    text-decoration: none;
                    text-align: center;
                    padding: 5px 0 15px 0;
                    @media screen and (min-width: $br-800) {
                        padding: 0 5px;
                        line-height: 100px;
                    }

                    @media screen and (min-width: $br-1100) {
                        padding: 0 20px;
                    }
                    &:hover {
                        text-decoration: underline;
                        background-color: $green;
                        color: white;
                    }
                }
            }
        }
    }
}





