* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(207, 207, 207);
}
.container {
    max-width: 600px;
    margin: 0 auto;
    min-height: 100vh;

    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-auto-rows: 100px;
    gap: 5px;
    justify-content: center;
    align-content: center;
}    

.box {
    width: 100px;
    height: 100px;
    background-color: #fff;
}