.header__navigation {
    display: block;
    position: relative;
    z-index: 9999;
    .header__navigation__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        padding: 30px 0 40px 0;
        
        .header__navigation__item {
            padding: 15px 0px;

            .header__navigation__link {
                display: block;
                text-transform: uppercase;
                font-weight: 300;
                font-size: 24px;
                color: #707070;
            }

            .active {
               position: relative;

               &:before {
                   content: '';
                   border-radius: 1px;
                   top: 50%;
                   transform: translateY(-50%);
                   left: -23px;
                   position: absolute;
                   display: block;
                   background-color: #f19e21;
                   width: 16px;
                   height: 16px;
               }
           }
        }
    }
}

// .header__navigation {
//     line-height: $header-height;
//     float: right;
//     @media screen and (max-width: 900px) {
//        float: none;
//      }
//      @media screen and (max-width: 650px) {
//          display: none;
//            float: none;
//      }

//    .header__navigation__list {
//        text-transform: uppercase;
//        text-align: justify;
//        font-weight: 300;
//        @media screen and (max-width: 900px) {
//        text-align: center;
//        display: block;
//        }



//        .header__navigation__item {
//            display: inline;
//            padding: 0 15px;
//            font-size: 1.1em;
//            @media screen and (max-width: 1100px) {
//                font-size: 0.85em;
//            }
//            @media screen and (max-width: 900px) {
//                font-size: 1.1em;
   
//            }

//            .header__navigation__link {
//                color: #707070;
//                letter-spacing: 1px;
//            }
//            .active {
//                position: relative;

//                &:before {
//                    content: '';
//                    border-radius: 1px;
//                    top: 50%;
//                    transform: translateY(-50%);
//                    left: -23px;
//                    position: absolute;
//                    display: block;
//                    background-color: #f19e21;
//                    width: 16px;
//                    height: 16px;
//                }
//            }
//        }
//    }
// }