.section__first-part {

    .first-part__list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-decoration: underline;
        text-transform: uppercase;
        font-size: 22px;
        padding: 50px 0;

        .first-part__item {
            padding: 15px 0;

            .first-section__link {
                display: block;
            }
        }
    }
}

.section__place-for-description {

    .description__container {
        
    }

    .second-part__image {
        max-width: 200%;
        margin-left: -50%;
    }
}