* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff;
}
.main {
    margin: 15px auto;
    border-radius: 20px;
    background-color: rgba(231, 230, 230, 0.979);
    width: 99%;
    text-align: center;
    .title__section {
        padding-top: 1rem;

        .title__title {
            font-size: 52px;
            padding-bottom: 10px;
        }
        .title__desctiprion {
            font-size: 18px;
            font-weight: lighter;
            padding-bottom: 20px;
        }
    }

    .image__area {
        background-color: #fff;
        width: 95%;
        margin: 0 auto;
        border-radius: 10px;
        
        .image__image {
            padding: 20px 0 5px 0;
            width: 30% ;
        }

        .image__caption {
            padding-bottom: 20px;
            font-size: 20px;
        }
    }

    .section {
        padding-top: 2rem;
        .section__title {
            font-size: 32px;

        }
        .section__list {
            padding: 20px 0;

            .section__item {
                max-width: 50%;
                padding: 5px 0;
                margin: 0 auto;
            }
        }
        .section__add__info {
            padding: 10px 0 20px 0;
        }
    }
}