* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(207, 207, 207);
}
input[type='submit'] {
    padding: 7px 15px;
}
.container {
    max-width: 500px;
    margin: 50px auto;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-auto-rows: 100px;
    justify-content: center;

}   
.container div {

}