* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.header,
.main {
  background-color: #660000;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.current {
  background-color: #76C38F;
  border-radius: 7px;
}

.header {
  min-height: 100vh;
  position: relative;
  position: relative;
}

@media (max-width: 900px) {
  .header {
    height: auto;
  }
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .6;
  z-index: 2;
}

.header .header__top,
.header .header__container {
  position: relative;
  z-index: 3;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__top {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  text-align: center;
}

@media (max-width: 1000px) {
  .header .header__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap column;
            flex-flow: wrap column;
    padding-top: 5vh;
    height: auto;
  }
}

.header .header__top .header__title {
  font-size: 36px;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .header .header__top .header__title {
    width: 100%;
  }
}

.header .header__top .navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

@media (max-width: 1000px) {
  .header .header__top .navigation__list {
    padding-top: 3vh;
  }
}

@media (max-width: 700px) {
  .header .header__top .navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap column;
            flex-flow: wrap column;
  }
}

.header .header__top .navigation__list .navigation__list__item .navigation__links {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.header .header__top .navigation__list .navigation__list__item .navigation__links:hover {
  background-color: #76C38F;
  border-radius: 7px;
}

@media (max-width: 1200px) {
  .header .header__top .navigation__list .navigation__list__item .navigation__links {
    font-size: 12px;
  }
}

@media (max-width: 700px) {
  .header .header__top .navigation__list .navigation__list__item .navigation__links {
    font-size: 22px;
  }
}

.header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
}

@media (max-width: 900px) {
  .header .header__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap row;
            flex-flow: wrap row;
  }
}

.header .header__container .container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

@media (max-width: 900px) {
  .header .header__container .container-right {
    height: auto;
  }
}

.header .header__container .container-right .header__image {
  width: 380px;
  height: 380px;
  background-color: #333333;
  border: #6B6B6B 30px solid;
  border-radius: 50%;
}

@media (max-width: 900px) {
  .header .header__container .container-right .header__image {
    margin-top: 5vh;
  }
}

.header .header__container .container-left {
  position: relative;
}

@media (max-width: 900px) {
  .header .header__container .container-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap column;
            flex-flow: wrap column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.header .header__container .container-left .header__sub-title {
  font-size: 48px;
  position: absolute;
  top: 20%;
  left: 15%;
}

@media (max-width: 900px) {
  .header .header__container .container-left .header__sub-title {
    position: static;
    padding-top: 3vh;
  }
}

.header .header__container .container-left .header__cta {
  display: block;
  position: absolute;
  bottom: 100px;
  left: 15%;
  background-color: #76C38F;
  color: white;
  text-decoration: none;
  padding: 13px 25px;
  font-weight: bolder;
  font-size: 18px;
  border-radius: 7px;
}

@media (max-width: 900px) {
  .header .header__container .container-left .header__cta {
    position: static;
    margin: 3vh 0;
  }
}

.header .header__container .container-left,
.header .header__container .container-right {
  width: 50%;
}

@media (max-width: 900px) {
  .header .header__container .container-left,
  .header .header__container .container-right {
    width: 100%;
  }
}

.section__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowarp column;
          flex-flow: nowarp column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15vh 0;
}

.section__first .section__first__item {
  background-color: #fff;
  width: 22%;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.section__first .section__first__item:hover {
  background-color: #76C38F;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.section__first .section__first__item:hover .section__first__image {
  background: #fff;
}

.section__first .section__first__item:hover .section__first__service-title,
.section__first .section__first__item:hover .section__first__description {
  color: white;
}

.section__first .section__first__item .section__first__image,
.section__first .section__first__item .section__first__service-title {
  width: 130px;
}

.section__first .section__first__item .section__first__image {
  margin: 50px 0 20px 0;
  background-color: #333333;
  height: 130px;
  border-radius: 7px;
}

.section__first .section__first__item .section__first__service-title {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 200;
  color: #333333;
}

.section__first .section__first__item .section__first__description {
  color: #979797;
  font-size: 12px;
  width: 70%;
  padding: 15px 0 30px 0;
}
/*# sourceMappingURL=index.css.map */