* {
  margin: 0;
  padding: 0;
          box-sizing: border-box;
}

.header {
  height: 100px;
  background-color: #ccc;
  display: flex;
          justify-content: space-between;
          align-items: center;
  padding: 0 10%;
}

.header__title {
  font-size: 3rem;
}

.nav__list {
  display: flex;
  list-style-type: none;
}

.nav__link {
  display: block;
  padding: 10px 15px;
}

.main {
  display: flex;
      justify-content: space-around;
}

.main__box {
  background-color: #c3c3c3;
  min-height: calc(100vh - 100px);
  width: 50%;
  display: flex;
          justify-content: center;
          align-items: center;
}

.box__form {
  height: 80%;
  width: 80%;
  background-color: #7a7a7a;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-flow: column;
          align-items: center;
}

.form__text {
  padding: 7px 12px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.form__submit {
  padding: 7px 40px;
  border-radius: 20px;
  border: 2px solid black;
}

.box__ps-image {
  display: flex;
          justify-content: center;
          align-items: center;
  text-align: center;
  padding: 0 50px;
  background-color: #fff;
  width: 80%;
  height: 70%;
}