* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    color: rgb(231, 231, 231);
    font-family: 'Courier New', Courier, monospace;
}

body {
    text-align: center;
    padding-top: 50px;
    user-select: none;
}

.header__title {
    font-size: 64px;
    padding-bottom: 15px;
}

.header__description {
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 30px;
}